 body{
    margin:0;
    padding:0;
}

 /*     part -1        */

.get_early{
    position:absolute;
    top:60px;
    right:8%;
    font-size: 20px;
}

.network-icon{
    position:absolute;
    top:80px;
}

.upper_side{
    position:relative;
    background-image: url("https://images.unsplash.com/photo-1591077394217-e4e1b63b2046?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fGJ1c2luZXNzJTIwbWVldGluZ3MlMjBibGFja3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    display:block;
    padding:80px;
    color:white;
    padding-bottom:150px;
}


.block1{
    width:60%;
    margin-top:100px;
}
.block1>h1{
    white-space: pre;
    font-size: 70px;
}
.block1>p{
    font-size: 20px;
    line-height: 30px;
}

.button1{
    position: absolute;
    color:black;
    font-weight:bold;
    padding:12px 30px;
    font-size: 17px;
    border-radius: 30px;
    border:none;
    background-color:#00FFAD;
    margin-top:30px;
    outline-style: none;
    
}

@media (max-width:770px){
    .network-icon{
        position:relative;
        left:-46%;
        top:-5px;
    }

    .block1>h1{
        white-space: normal;
    }
    .block1{
        width:100%;
    }
    .upper_side{
        text-align:center;
    }

    .button1{
        position:relative;
        top:40px;
    }

}

 @media (max-width:350px) and (min-width:300px){ 
    body{width:113%;}
    
    .upper_side{
        padding:80px 15px 100px;
    }

    .get_early{
        right:15px;
    }
} 

     /* part- 2        */

.part-2{
    margin:auto;
    display: block;
    width:90%;
    text-align:center;
    padding:75px 0px 0px 0px;
}



.part-2 > h1{
    font-size:50px;
    margin-bottom:-10px;
}

.triangle-box{
    display:inline-block;
    position:relative;
    width:33%;
    height:100px;
    text-align:center;
    margin:auto;
    margin-top:100px;
}

.triangle{
    top:20px;
    left:25%;
    position:absolute;
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 60px solid #00FFAD;
}

.triangle1{
    transform: rotate(-50deg);
}
.icon1{
    transform: rotate(50deg);
}

.triangle2{ 
    transform: rotate(-170deg);
}

.icon2{
    transform: rotate(-190deg);
}

.triangle3{
    transform: rotate(0deg);
}

.head-p{
    margin-top:160px;
    font-weight: bold;
    font-size: 25px;
}

.triangle-box > p{
    font-size: 20px;
    padding:0px 30px;
}

@media screen and (max-width:900px) and (min-width:600px){

    .part-2{
        width:75%;
    }

    .triangle{
        left:30%;
    }
    .triangle-box{
         width:85%;
    } 
   .triangle-box > p{
        padding:0px;
    } 
}

@media (max-width:600px){
    .part-2{
        width:100%;
    }

    .triangle{
        left:33%;
    }
    .triangle-box{
         width:90%;
    } 
}

 /* --------------part-3---------------------  */

.part-3{
    display:block;
    margin-top:-300px;
    text-align:center;
    border-left:0px solid transparent;
    border-right: 0px solid transparent;
    background: linear-gradient(-0.014turn,
    #00FFAD 50%, white 10% 10%);
}

.part3-box{
    position: relative;
    text-align:left;
    display:inline-block;
    width:44%;
    height:300px;
}

.part3-firstline-box1{
    margin-top:435px;
}

.part3-firstline-box2{
    margin-top:435px;
}

.part3-secondline-box{
    margin-top:180px;
}

.part{
    position: absolute;
    top:-30px;
}

.part > h1{
    font-size: 50px;
}

.part > p{
    font-size: 17px;
}

.part > button{
    font-size:17px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding:12px 25px;
    border: none;
    border-radius: 25px;
    margin-top:20px;
    outline-style: none;
 cursor: pointer;
}

.part > img{
    margin-top:50px;
    width:100%;
    height:250px;
}

.secondline-box-img{
    display:none;
}

@media (max-width:900px){
    .part3-box{
        display:block;
        text-align:center;
        width:70%;
        margin:auto;
        margin-top:400px;
    }
     .part3-firstline-box2{
        margin-top:-50px;
    } 
    .block-point{
        display:none;
    }

    .part3-secondline-box{
        margin-top:100px;
    }
   .secondline-box-img{
       display:block;
        margin-top:-75px;
    }


} 

@media (max-width:570px){
    .part3-firstline-box2{
        margin-top:0px;
    } 
    .secondline-box-img{
        display:block;
         margin-top:0px;
     }
}

 /* .......part-4............  */
.part-4{
    width:90%;
    display: block;
    margin:auto;
    text-align: center;
    margin-top:110px;
    margin-bottom: 110px;
    border-radius: 5px;
}

.part-4>h1{
      font-size: 50px;
}

.part4-box{
     position:relative;
     display:inline-block;
     width:32.9%;
     text-align:center;
     padding-bottom:50px;
     margin-top:30px;
}

.head-part4-box{
    font-size: 30px;
    margin:40px 0px 60px;
}

.part4-box > p{
    font-size:18px;
    line-height: 30px;
}

.part4-box > p>span{
    font-weight: bold;
    font-size: 100px;
}


.part4-box>button{
    font-size:17px;
    font-weight: bold;
    color: black;
    background-color: white;
    padding:12px 25px;
    border-radius: 25px;
    margin-top:20px;
    outline-style: none;
    border: 2px solid black;
    cursor: pointer;
}

.part4-specific-box{
    color:white;
    background-color: rgb(23, 20, 51);
    border-radius: 5px;

}

.part4-specific-box > button{
    background-color: #00FFAD;
}

@media (max-width:770px){
    .part4-box{
        width:80%;
    }

}



/* ......part-5......  */
.part-6{
    position:relative;
    padding:100px 0px 100px 0px;
    color:white;
    background-color:  rgb(23, 20, 51);
    
}

.part6-box{
    position:relative;
    display: inline-block;
    width:45%;
    text-align: left;
    margin-right: 10px;
}

.part6-box>p{
    font-size: 25px;
}

.part6-box > p {
    line-height: 30px;
}

.part6-box > button{
    font-size:17px;
    font-weight: bold;
    color: black;
    background-color: #00FFAD;
    padding:12px 25px;
    border-radius: 25px;
    border:none;
    margin-top:20px;
    outline-style: none;
    cursor: pointer;
    width:100%;
}
.form-box{
    position:relative;
    width:40%;
    display: inline-block;
 }
 
 .input1-box{
    position:absolute;
    width:40%;
 }
 
 .input2-box{
     position:absolute;
     width:40%;
     right:0%;
  }
 
 input{
     width:94%;
     height:25px;
     margin-top:10px;
     background-color: transparent;
     outline-style: none;
     border:1px solid #00FFAD
 }

 label{
     color:#00FFAD;
 }
 
 .textarea-box{
     position:relative;
     top:90px;
 }
 
 textarea{
    width:98%;
    height:70px;
    margin-top:10px;
    background-color: transparent;
    outline-style: none;
    border:1px solid #00FFAD
 }

 .submit-button{
     font-size: 20px;
     width:100%;
     margin-top:100px;
     background-color:#00FFAD;
     padding:10px;
     border-radius: 25px;;
 }

 @media (max-width:770px){
    .form-box{
        width:80%;
        display: block;
        margin: auto;
    } 
    
    .part6-box{
        display: block;
        margin: auto;
        width:80%;
    }
 
 }

/* .........part-6........  */
.part-5{
    display:block;
    text-align: center;
    background-color: gray;
    padding-bottom: 5px;
}

.company-icon{
    width:19%;
    margin:50px 0px 50px 0px;
    cursor: pointer;
}
